div.container {
  font-family: "Times New Roman", Times, serif;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  width: 100%;
  max-width: 4000px;
  margin: auto;
}

div.compromiso {
  list-style: none;
  text-align: center;
  width: 100%;
  max-width: 4000px;
  margin: auto;
}
img {
  border-radius: 15px;
}
