<!DOCTYPE html>

<html lang="es">
  <body>
    <app-navbar></app-navbar>
    <br>
    <div class="container">
      <div class="row featurette">
        <div class="col-lg-12">
          <h1><a>¿Quienes somos?</a></h1>
          <br />
          <p>
            Somos una cadena home center de Grupo El Rosado. Es la más grande en
            Ecuador, con 51 locales en el país. Ofrece una gran variedad de
            artículos a menor precio y brinda asesoría profesional a todos sus
            clientes. Es franquiciatario y distribuidor exclusivo de Ace
            Hardware, además cuenta con marcas propias como Tekno, Briko,
            Topline y Ferrisariato, entre otras.
          </p>
        </div>

        <div class="col-lg-6">
          <h3><a>Origen</a></h3>
          <br />
          <p>
            Nuestro origen se remonta a el año 2010, con una idea clara de
            ayudar a los dueños de automóviles con fallas a solucionar de la
            mejor manera estos fallos.
          </p>
        </div>

        <div class="col-lg-6">
          <h3><a>Objetivo</a></h3>
          <br />
          <p>
            Tenemos como objetivo dar una buena impresión a nuestros clientes,
            realizar nuestros trabajos bien, para que sigan acudiendo a nuestra
            empresa.
          </p>
        </div>

        <div class="col-lg-6,6">
          <h1 id="compromiso"><a>Política de seguridad</a></h1>
          <div class="img">
            <div class="compromiso">
              <br />
              <img
                src="https://irp.cdn-website.com/ef669923/MOBILE/jpg/720.jpg"
                width="650"
                height="400"
              />
            </div>
          </div>
        </div>

        <div class="col-lg-6,6">
          <br />
          <p class="noticia" style="color: black">
            Somos una compañía dedicada a la comercialización de bienes y
            servicios en la línea automotriz e industrial, creando satisfacción
            y valor, cumpliendo o excediendo las expectativas de nuestros
            clientes, empleados, accionistas y proveedores, enmarcado en nuestra
            misión y visión. Reconocemos el liderazgo como parte fundamental en
            el desempeño y crecimiento de la organización y a esta Política como
            la base para alcanzar nuestros objetivos, comprometidos en:
          </p>

          <div class="compromisos">
            <ul class="lista">
              <li>
                Cumplir con las leyes ecuatorianas aplicables a nuestra
                operación.
              </li>
              <li>
                Mantener un Sistema de Gestión de Seguridad basado en la mejora
                continua.
              </li>
              <li>
                Garantizar operaciones y un ambiente de trabajo seguro y
                confiable para nuestros empleados, contratistas y el medio
                ambiente
              </li>
              <li>
                La asignación de recursos para el desarrollo de esta política.
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container">
        <app-footer></app-footer>
      </div>
    </div>
  </body>
</html>
