div.container {
  font-family: "Times New Roman", Times, serif;
}
div.container:first-child {
  padding-top: 3rem;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  width: 100%;
  max-width: 4000px;
  margin: auto;
}

.empieza {

  text-align: center;
  background-color: rgb(240, 236, 231);
  
}

h1{
  font-weight: bold;
  font-size: 2.5rem;
}

h3{
  font-size: 1.8rem;
  font-weight: bold;
}

div.compromiso {
  list-style: none;
  text-align: center;
  width: 100%;
  max-width: 4000px;
  margin: auto;
}
img {
  border-radius: 15px;
}
