div.container{
  font-family: 'Times New Roman', Times, serif;
  
}

h1, h2, h3, h4{
  text-align: center;
  width: 100%;
  max-width: 4000px;
  margin: auto;
}

#centrar{
  text-align: center;
}

div.compromiso{
  list-style: none;
  text-align: center;
  width: 100%;
  max-width: 4000px;
  margin: auto;
}

img {
  border-radius: 13px;
  
}

.btn-primary{
  background-color: #9ba4b1;
  border-radius: 10px;
  padding-bottom: 5px;
}
  
.text-center {
    text-align: center;
}

.btn{
    padding: 0.375rem;
    margin-left: 15px;
}