
<div class="initial" >  
  <!-- Error  *ngIf="alert" -->
  <div class="alerts">
    <div *ngIf="alert" class="bg-danger-subtle text-danger-emphasis border border border-danger rounded relative" role="alert">
      <strong class="font-bold">Error! </strong>
      <span class="block sm-inline">Algo salio mal, vuelve a intentar.</span>
    </div>
  </div>
  <!-- -->
  <form [formGroup]="usuarioLogin" (ngSubmit)="onSubmit()" class="form login" >
    <!-- Email input -->
    <p class="text-center fs-2">Formulario Login</p>
    <div class="form__field">
      <label class=" ">
        Username
      </label>
      <input
        matInput
        type="text"
        formControlName="usuario"
        class="form-control form__input px-4 py-2"
        placeholder="User Name"
        required
      />
    </div>
    <!-- Password input -->
    <div class="my-6 form__field">
      <label class="text-base font-semibold">
        Password*
      </label>
      <input
        matInput
        type="password"
        formControlName="password"
        class="form-control form__input"
        placeholder="Password"
      />
    </div>
    <!-- Button Submit -->
    <div class="grid text-center gap-3 mb-3 mt-4">
      <button
        (click)="cancelar()"
        type="button"
        class="btn btn-danger me-3"
        onclick=""
      >
        Cancelar
      </button>
      <button  
      type="submit"
        class="{{usuarioLogin.valid ? 'mat-raised-button btn btn-success ': 'mat-raised-button btn btn-secondary g-col-6' }}"
        [disabled] = "!usuarioLogin.valid"
      >
        Login
      </button>
    </div>
  </form>  
</div>



