<mat-card class="my-10"> 
  <div style="text-align:center;">
    <mat-card-title>Modificar Cliente</mat-card-title>
  </div>   
  <br>
  <form [formGroup]="usuarioNuevo">
    <mat-form-field class="campos-field">
      <input matInput placeholder="Nombre" formControlName="nombre">
    </mat-form-field>

    <mat-form-field class="campos-field">
      <input matInput placeholder="Descripcion" formControlName="descripcion">
    </mat-form-field>

    <mat-form-field class="campos-field">
      <input matInput placeholder="Categoria" formControlName="categoria">
    </mat-form-field>

    <mat-form-field class="campos-field">
      <input matInput placeholder="Estado" formControlName="estado">
    </mat-form-field>

    <mat-form-field class="campos-field">
      <input matInput placeholder="Precio" formControlName="precio">
    </mat-form-field>

    <button mat-raised-button [disabled] = "!usuarioNuevo.valid" (click)="onSubmit()">Aceptar</button>  
    <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>      
  </form>

</mat-card>