<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Company, Inc</span>
  </div>

  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item"><a routerLink="" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a routerLink="/nosotros" class="nav-link px-2 text-muted">Nosotros</a></li>
    <li class="nav-item"><a routerLink="/locales" class="nav-link px-2 text-muted">Locales</a></li>
    <li class="nav-item"><a routerLink="/productos" class="nav-link px-2 text-muted">Productos</a></li>
    <li class="nav-item"><a routerLink="/contactar" class="nav-link px-2 text-muted">Contactar</a></li>
  </ul>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted" href="#"><i class='bx bxl-twitter' ></i></a>Twitter</li>
    <li class="ms-3"><a class="text-muted" href="#"><i class='bx bxl-facebook-circle' ></i></a>Facebook</li>
    <li class="ms-3"><a class="text-muted" href="#"><i class='bx bxl-instagram-alt' ></i></a>Instagram</li>
  </ul>
</footer>